{# <li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li> #}
{# <li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li> #}
{% if user.is_authenticated %}
<li {% if active_link == "Courses" %}class="active"{% endif %}><a href="{% url 'courses:course-list' %}">Courses</a></li>
<li {% if active_link == "Assignments" %}class="active"{% endif %}><a href="{% url 'courses:assignment-list' %}">Assignments</a></li>
<li {% if active_link == "Help" %}class="active"{% endif %}><a href="{% url 'help' %}">Help</a></li>
{%endif%}