{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load add_get_parameter %} 

{% block title %}{% with 'Utils' as subtitle  %}
{{ block.super }}
{% endwith %}{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="Utils" %}
{% endblock %}

{% block splash %}
{% endblock splash %}

{% block container %}

<div>
<div class="panel panel-primary">
      <div class="panel-heading">
            <h3 class="panel-title">Files:</h3>
      </div>
      <div class="panel-body">
      <ul>
          <li>
            <a href="{% url 'uploader:download-utils-file' %}?file=assignment_uploader">Download Assignment uploader</a>  
          </li>
      </ul>
            
      </div>
</div>
    
</div>


{% endblock container %}



{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>

<script type="text/javascript">
</script>    


{% endblock scripts %}