{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load add_get_parameter %} 

{% block title %}{% with 'Assignments' as subtitle  %}
{{ block.super }}
{% endwith %}{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="Assignments" %}
{% endblock %}

{% block splash %}
{% endblock splash %}

{% block container %}
<div class="row-fluid">

  <div class="input-group-btn">
    <button type="button" class="btn btn-info">Courses:</button>
    <select class="selectpicker show-tick" >
        {% for course in courses  %}
            <option value="{{course.id}}" href="{% add_get selected_course_id=course.id %}" >{{course}}</option>
        {% empty %}
            <option >You are not enrolled in any course</option>
        {% endfor %}
    </select>
  </div>



</div>
<br>

<div class="row-fluid">
    <div class="list-group">
    {% for assignment in assignments  %}
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">{{assignment.Title}}</h4>
        </a>
        <br>
        {% empty %}
            <a href="#" class="list-group-item list-group-item-warning">
                <h4 class="list-group-item-heading">There's no assignments for this course.</h4>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock container %}



{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>

<script type="text/javascript">
    $('.selectpicker').selectpicker();
    $('.selectpicker').selectpicker('val', '{{selected_course.id}}');
    $('.selectpicker').on('change', function(){
        var selected = $(this).find("option:selected").attr('href');
        window.location.href = selected;
    });
</script>    


{% endblock scripts %}