{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load add_get_parameter %} 

{% block title %}{% with 'Assignments' as subtitle  %}
{{ block.super }}
{% endwith %}{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="Assignments" %}
{% endblock %}

{% block splash %}
{% endblock splash %}

{% block container %}
<div class="row-fluid">

  <div class="input-group-btn">
    <button type="button" class="btn btn-info">Courses:</button>
    <select class="selectpicker show-tick" >
        {% for course in courses  %}
            <option value="{{course.id}}" href="{% add_get selected_course_id=course.id %}" >{{course}}</option>
        {% empty %}
            <option >You are not enrolled in any course</option>
        {% endfor %}
    </select>
  </div>



</div>
<br>

<div class="row-fluid">
    <div class="list-group">


      {% for assignment in assignments %}
        <div class="list-group-item list-group-item-info toggle clearfix" id="dropdown-detail-{{ assignment.id }}" data-toggle="detail-{{ assignment.id }}" style="cursor: pointer; cursor: hand;">
                <h4 class="list-group-item-heading ">{{ assignment.Title }}
                </h4> 
        </div>

        <div id="detail-{{ assignment.id }}" style="display:none">
            <div class="panel panel-primary">                  
              <div class="panel-body">
                <ul class="list-group">
                    {% for exercise in exercises  %}
                        {% if exercise.Assignment == assignment %}
                            <li class="list-group-item clearfix">
                                <div class="col-xs-6">
                                    <h4 class="list-group-item-heading ">{{exercise.Description}}</h4>    
                                    {% for result in results  %}
                                        {% if result.Exercise == exercise %}
                                            <p class="list-group-item-text" style="margin-left:10px"> Last submit on: {{ result.Creation_date|date:"D d M Y" }} {{ result.Creation_date|time:"H:i" }} 
                                            {% if result.Pass %}
                                                , Status: <span class="label label-success">Passed</span>
                                            {% else %}    
                                                , Status: <span class="label label-warning">Not Passed</span>
                                            {% endif %}
                                                <a href="{% url 'courses:result-list' %}"> ( Show details ) </a>
                                            </p>                      
                                        {% endif %}
                                    {% endfor %}
                                    
                                </div>
                                <div class="col-xs-6">
                                    <a href="{% url 'courses:download-user-file' %}?ex_id={{exercise.id}}" type="button" class="btn btn-sm btn-primary pull-right">
                                    Download exercise</a>
                                </div>             
                            </li>
                            

                        {% endif %}
                    {% empty %}
                        <p> There are no exercises assigned. </p>
                    {% endfor %}                    
                </ul>
            </div>
        </div>

    </div>
    <br>
    {% empty %}
    <p class="list-group-item list-group-item-text list-group-item-warning"> There are no assignments for this course.</p>
    {% endfor %}

{% endblock container %}



{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>

<script type="text/javascript">
    $('.selectpicker').selectpicker();
    $('.selectpicker').selectpicker('val', '{{selected_course.id}}');
    $('.selectpicker').on('change', function(){
        var selected = $(this).find("option:selected").attr('href');
        window.location.href = selected;
    });
</script>    


{% endblock scripts %}