{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load add_get_parameter %} 

{% load tz %}


{% load with_user %}
{% load with_exercise %}
{% load with_group %}
{% load get_groups %}

{% block title %}{% with 'Assignments' as subtitle  %}
{{ block.super }}
{% endwith %}{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="Assignments" %}
{% endblock %}

{% block splash %}
{% endblock splash %}

{% block container %}
<div class="row-fluid">
  <div class="input-group-btn">
    <button type="button" class="btn btn-info">Courses:</button>
    <select class="selectpicker show-tick" >
        {% for course in courses  %}
            <option value="{{course.id}}" href="{% add_get selected_course_id=course.id %}" >{{course}}</option>
        {% empty %}
            <option >No courses available</option>
        {% endfor %}
    </select>
  </div>
</div>
<br>
<div class="row-fluid">
    <div class="list-group">
      {% for assignment in assignments %}
        <div class="list-group-item list-group-item-info toggle clearfix" id="dropdown-detail-{{ assignment.id }}" data-toggle="detail-{{ assignment.id }}" style="cursor: pointer; cursor: hand;">
        <div class="col-xs-6">
            <h4 class="list-group-item-heading ">{{ assignment.Title }} </h4>
           
        </div>

        </div>
        <div id="detail-{{ assignment.id }}" style="display:none">
            <div class="panel panel-primary">                  
              <div class="panel-body">
                    <fieldset class="exgroup-border">
                    <legend class="exgroup-border">Info</legend>
                    <div class="col-xs-6">
                    <p class="list-group-item-text">
                        Status: 
                        <span class="ad-info" assignment-activation-date="{{assignment.Activation_date}}">
                        {% if  assignment.is_active %}
                            Active since {{assignment.Activation_date|date:"F j, Y"}}
                        {% else %}     
                            {% if assignment.Activation_date %}
                                will be activated in date {{assignment.Activation_date|date:"F j, Y"}}
                            {% else %}    
                                Inactive, please set activation date
                            {% endif %}
                        {% endif %}     
                        </span>
                        
                    </p>
                    <p class="list-group-item-text {% if  assignment.Hard_date == assignment.Due_date %}hidden{% endif %}"> 
                    Due Date: <span class='dd-info'>{{assignment.Due_date|date:"F j, H:i"}}</span></p>    
                    <p class="list-group-item-text"> Hard Date: <span class='hd-info'>{{assignment.Hard_date|date:"F j, H:i"}}</span></p>
                    <p class="list-group-item-text {% if  assignment.Hard_date == assignment.Due_date %}hidden{% endif %}"> 
                    Penalty Percent: <span class='pp-info'>{{assignment.Penalty_percent}} </span>%</p>    
                    </div>
                    <div class="col-xs-6">
                    <div class="row">
                    <button class="pull-right autoshuffle-btn btn btn-sm btn-primary" assignment-id="{{assignment.id}}" assignment-title="{{assignment.Title}}">
                    <span>Auto Shuffle</span></button>     
                    </div>
                    <br>
                    <div class="row pull-right ">
                    <button class="change-activation-btn btn btn-sm btn-primary" 
                        assignment-id="{{assignment.id}}" assignment-title="{{assignment.Title}}" assignment-activation-date="{{assignment.Activation_date|date:'c'}}">
                    <span>Activation date</span></button>

                    <button class="change-date-btn btn btn-sm btn-primary" 
                        assignment-id="{{assignment.id}}" assignment-title="{{assignment.Title}}" assignment-hard-date="{{assignment.Hard_date|date:'c'}}">
                    <span>Change Deadline</span></button> 



                    </div>
                    </div>
                    </fieldset>
                    {% with assignment.exercise_set.all as exercise_set %}
                        {% for group in exercise_set|get_groups  %}
                            <fieldset class="exgroup-border">
                                <legend class="exgroup-border">Exercise group: {{group}}</legend>
                                {% for exercise in exercise_set|with_group:group %}
                                    <div class="list-group">
                                        <div class="ex-header list-group-item list-group-item-info clearfix">
                                            <div class='col-xs-6'>
                                                <h4 class="list-group-item-heading ">{{exercise.Description}} {{exercise.Number}}</h4>
                                            </div>
                                            <div class='col-xs-6'>
                                                <div class='list-group-item-text pull-right'>
                                                    
                                                    <button class="add-students-btn btn btn-sm btn-primary" exercise-id="{{exercise.id}}">
                                                    <span>Add Students</span></button>
                                                    <a href="{% url 'courses:download-user-file' %}?ex_id={{exercise.id}}" 
                                                    type="button" class="btn btn-sm btn-info">Download exercise</a>         
                                                    <button class="btn btn-info btn-sm btn-filter" data-toggle="tooltip" data-placement="top" 
                                                                    title="Filters">
                                                    <span class="glyphicon glyphicon-filter"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="exercise-table-{{exercise.id}}" 
                                                class='ex-content filterable list-group-item-text {% if not exercise.Students.all %} hidden {% endif %} ' 
                                                style="padding-left:50px">

                                            <table class="table table-striped table-hover table-bordered">

                                                    <thead>
                                                        <tr class='filters'>
                                                            <th><input type="text" class="form-control" placeholder="Student" disabled></th>
                                                            <th><input type="text" class="form-control" placeholder="Result" disabled></th>
                                                            <th><input type="text" class="form-control" placeholder="Submission Date" disabled></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody >
                                                    {% for student in exercise.Students.all  %}
                                                        <tr>
                                                            <td>{{student.name}}</td>
                                                            {% if student.result_set|with_exercise:exercise %}
                                                            {% with student.result_set|with_exercise:exercise as result  %}
                                                            <td>{{result.last_result.Pass}}</td>
                                                            <td>{% localtime off %}
                                                                {{result.last_result.Creation_date|date:"F j, H:i"}}
                                                                {% endlocaltime %}
                                                            </td>
                                                            {% endwith %}
                                                            
                                                            {% else %}
                                                            <td>N/A</td>
                                                            <td>N/A</td>                                                                
                                                            {% endif %}
                                                            <td align="center"> 
                                                                <button class="student-rem btn btn-xs btn-danger" 
                                                                    data-toggle="tooltip" data-placement="top" 
                                                                    title="Remove from exercise" exercise-id='{{exercise.id}}' student-id='{{student.id}}'>
                                                                    <span class="glyphicon glyphicon-remove"></span></button>
                                                                {% if student.result_set|with_exercise:exercise %}
                                                                {% with student.result_set|with_exercise:exercise as result  %}
                                                                <a href='{% url 'courses:single-result' %}?result_id={{result.last_result.id}}'
                                                                    class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" 
                                                                    title="Show details">
                                                                    <span class="glyphicon glyphicon-search"></span></a>
                                                                {% endwith %}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        
                                                    {% endfor %}
                                                    </tbody>
                                        </table> 
                                        </div>
                                        <p align="center" class='empty-string {% if exercise.Students.all %} hidden {% endif %}' >No students for this exercise</p>
                                        <hr>
                                    </div>
                                {% empty %} 
                                    <p> There are no exercises assigned for this session.</p>
                                {% endfor %} 
                            </fieldset>
                        {% endfor %}
                    {% endwith %}
            </div>
        </div>
    </div>
    <br>
    {% empty %}
    <p class="list-group-item list-group-item-text list-group-item-warning"> There are no assignments for this course.</p>
    {% endfor %}
 
    </div>
</div>
{# side panel#}
<div id='slider-panel' class='hidden'>
    <div class="panel panel-primary">
          <div class="panel-heading">
                <h3 class="panel-title">Select students</h3>
          </div>          
          <div class="panel-body">
                {% if selected_course.Students.all %}
                    <ul id='students-selector' class="list-group checked-list-box" exercise-id="None">                
                    {% for student in selected_course.Students.all  %}
                        <li class="list-group-item" ><span class='hidden'>{{student.id}}</span>{{student.name}}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No Students Enrolled.</p>
                {% endif %}
          </div>
        <div class="panel-footer">
            <span id='student-select-all' class="button-checkbox">
                <button type="button" class="btn" data-color="primary">Select All</button>
                <input type="checkbox" class="hidden" />
            </span>
            <span id='student-add' class="pull-right">
                <button type="button" class="btn btn-danger" >Add</button>
            </span>
        </div>
    </div> 
</div> 


<div class="modal fade" id="change-deadline-modal">
    <div class="modal-dialog">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Select date for: <span id='assignment-title'></span></h3>
        </div>
        <div class="panel-body">
            <p class='hidden' id='assignment-id'></p>
            <form action="" method="POST" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="first-date" class="col-sm-2 control-label">Deadline</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="first-date">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox" >
                        <label>
                          <input type="checkbox" id='use-penalty-cb'>Use penalty</label>
                      </div>
                    </div>
                </div>
                <div class="form-group use-penalty use-penalty-form hidden">
                    <label for="second-date" class="col-sm-2 control-label">Late date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="second-date" >
                    </div>
                </div>
                <div class="form-group use-penalty-form hidden">
                    <label for="penalty-percent" class="col-sm-2 control-label">Penalty percent</label>
                    <div class="col-sm-10">
                    <input type="number" class="form-control" id="penalty-percent" value="50">
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer clearfix">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" id='change-deadline-submit' data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
            </div>
        </div>
    </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="change-activation-modal">
    <div class="modal-dialog">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Select activation date for: <span id='assignment-title'></span></h3>
        </div>
        <div class="panel-body">
            <p class='hidden' id='assignment-id'></p>
            <form action="" method="POST" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="first-date" class="col-sm-2 control-label">Activation Date</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="activation-date">
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer clearfix">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" id='change-activation-submit' data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
            </div>
        </div>
    </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="autoshuffle-modal">
    <div class="modal-dialog">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Autoshuffle exercise for: <span id='assignment-title'></span></h3>
        </div>
        <div class="panel-body">
            <p class='hidden' id='assignment-id'></p>
            Are you sure ?

        </div>
        <div class="panel-footer clearfix">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" id='autoshuffle-submit' data-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
            </div>
        </div>
    </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock container %}



{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>

<script type="text/javascript">
    $('.selectpicker').selectpicker();
    $('.selectpicker').selectpicker('val', '{{selected_course.id}}');
    $('.selectpicker').on('change', function(){
        var selected = $(this).find("option:selected").attr('href');
        window.location.href = selected;
    });

    $('.add-students-btn').on('click', function(e){
        e.stopPropagation();       
        var ex_id = $(e.currentTarget).attr("exercise-id");
        $('#students-selector').prop('exercise-id',ex_id);

    });

    $('#slider-panel').slideReveal({
        push: false,
        top: 100,
        position: 'right',
        trigger: $(".add-students-btn"),
    });
    $('#slider-panel').removeClass('hidden');

// aut shuffle methods


    $('.autoshuffle-btn').on('click', function(e){
        // var $form=$(this).closest('form');
        // e.preventDefault();
        var assignment_id = $(e.currentTarget).attr("assignment-id");
        var assignment_title = $(e.currentTarget).attr("assignment-title");
        
        $('#autoshuffle-modal').find('#assignment-id').text(assignment_id);
        $('#autoshuffle-modal').find('#assignment-title').text(assignment_title);
        $('#autoshuffle-modal').modal()
    });


    $('#autoshuffle-submit').on('click', function(e){    
        console.log('autoshuffle')
        var assignment_id = $('#autoshuffle-modal').find('#assignment-id').text();

        $.ajax({
            url : "/assignment-list-staff/", // the endpoint
            type : "POST", // http method
            data : { 
                action:'autoshuffle',
                assignment_id: assignment_id,
            }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                update_exercise(json.exercise_list)
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log('NO WAY')
                // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

    });


// set activation methids

    $('#change-activation-submit').on('click', function(e){    
        var activation_date = $('#activation-date').data("DateTimePicker").viewDate().format()
        var assignment_id = $('#change-activation-modal').find('#assignment-id').text();

        $.ajax({
            url : "/assignment-list-staff/", // the endpoint
            type : "POST", // http method
            data : { 
                action:'change-activation',
                assignment_id: assignment_id,
                activation_date: activation_date,
            }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                update_activation(assignment_id,json.updated_activation)
                // console.log("success"); // another sanity check
                // update_exercise(json.exercise_list)
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log('NO WAY')
                // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

    });

    $('.change-activation-btn').on('click', function(e){
        // var $form=$(this).closest('form');
        // e.preventDefault();
        var assignment_title = $(e.currentTarget).attr("assignment-title");
        var assignment_id = $(e.currentTarget).attr("assignment-id");
        var assignment_activation_date = $(e.currentTarget).attr("assignment-activation-date");
        
        if (!assignment_activation_date){
            assignment_activation_date = moment()
        }

        // check if there is no hard date set in assignment !! BUG!!!
        if ($('#activation-date').data("DateTimePicker")){
            $('#activation-date').val("")
            $('#activation-date').data("DateTimePicker").destroy()
        }
        $('#activation-date').datetimepicker({showClose:true, defaultDate:assignment_activation_date, format:"MMMM D, YYYY"});    
        $('#activation-date').on("dp.change", function (e) { 
            if ($('#second-date').data("DateTimePicker")){
                $('#second-date').val("")
                $('#second-date').data("DateTimePicker").destroy()   
                $('#second-date').datetimepicker({showClose:true,defaultDate:moment(e.date), minDate:moment(e.date), format:"MMMM D, YYYY"});
            }
        })
        
        $('#change-activation-modal').find('#assignment-title').text(assignment_title);
        $('#change-activation-modal').find('#assignment-id').text(assignment_id);
        $('#change-activation-modal').modal()
    });

    function update_activation(assignment_id, info){
        var outstring = "";
        if (info.is_active == "True"){
            outstring = "Active since "+info.activation_date
        }
        else {
            outstring = "will be activated in date "+info.activation_date
        }
        $('#detail-'+assignment_id).find('.ad-info').text(outstring)
    }


// set deadline js methods

    function update_assignment(assignment_id, info){
        $('#detail-'+assignment_id).find('.hd-info').text(info.hard_date)
        $('#detail-'+assignment_id).find('.dd-info').text(info.due_date)
        $('#detail-'+assignment_id).find('.pp-info').text(info.penalty_percent)
        use_penalty = info.use_penalty=='True'
        $('#detail-'+assignment_id).find('.dd-info').parent().toggleClass('hidden', !use_penalty)
        $('#detail-'+assignment_id).find('.pp-info').parent().toggleClass('hidden', !use_penalty)
    }

    $('#change-deadline-submit').on('click', function(e){    
        var use_penalty = $('#use-penalty-cb').is(':checked').toString()
        var first_date = $('#first-date').data("DateTimePicker").viewDate().format()
            if ($('#second-date').data("DateTimePicker")){
                var second_date = $('#second-date').data("DateTimePicker").viewDate().format()
            } else { var second_date = "false" }
            
        var penalty_percent = $('#penalty-percent').val().toString();
        var assignment_id = $('#change-deadline-modal').find('#assignment-id').text();

        console.log("second_date" + second_date)
        $.ajax({
            url : "/assignment-list-staff/", // the endpoint
            type : "POST", // http method
            data : { 
                action:'change-date',
                assignment_id: assignment_id,
                use_penalty: use_penalty,
                first_date: first_date,
                second_date: second_date,
                penalty_percent: penalty_percent
            }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                update_assignment(assignment_id,json.updated_assignment)
                // console.log("success"); // another sanity check
                // update_exercise(json.exercise_list)
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log('NO WAY')
                // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

    });

    $('#use-penalty-cb').change(function() {
        var use_penalty = $(this).is(':checked');
        $('.use-penalty-form').toggleClass('hidden',!use_penalty)
        if (use_penalty){
            var min_date = $('#first-date').data("DateTimePicker").viewDate();
            if ($('#second-date').data("DateTimePicker")){
                $('#second-date').val("")
                $('#second-date').data("DateTimePicker").destroy()
            }
            $('#second-date').datetimepicker({showClose:true, defaultDate:moment(min_date), minDate:moment(min_date), format:"MMMM D, H:mm"});
            
        }
    });

    $('.change-date-btn').on('click', function(e){
        // var $form=$(this).closest('form');
        // e.preventDefault();
        $('#use-penalty-cb').prop('checked', false).trigger("change");
        var assignment_title = $(e.currentTarget).attr("assignment-title");
        var assignment_id = $(e.currentTarget).attr("assignment-id");
        var assignment_hard_date = $(e.currentTarget).attr("assignment-hard-date");
        
        if (!assignment_hard_date){
            assignment_hard_date = moment()
        }
        console.log(assignment_hard_date)
        // check if there is no hard date set in assignment !! BUG!!!
        if ($('#first-date').data("DateTimePicker")){
            $('#first-date').val("")
            $('#first-date').data("DateTimePicker").destroy()
        }
        $('#first-date').datetimepicker({showClose:true, defaultDate:assignment_hard_date, format:"MMMM D, H:mm"});    
        $('#first-date').on("dp.change", function (e) { 
            if ($('#second-date').data("DateTimePicker")){
                $('#second-date').val("")
                $('#second-date').data("DateTimePicker").destroy()   
                $('#second-date').datetimepicker({showClose:true,defaultDate:moment(e.date), minDate:moment(e.date), format:"MMMM D, H:mm"});
            }
        })
        
        $('#change-deadline-modal').find('#assignment-title').text(assignment_title);
        $('#change-deadline-modal').find('#assignment-id').text(assignment_id);
        $('#change-deadline-modal').modal()
    });



// add student js methods
    var href = "{% url 'courses:single-result' %}";

    function update_exercise (exercise_list) {

        exercise_list.forEach(function(item){
            var content = '';
            ex_table = $('#exercise-table-'+item.exercise_id+' table tbody');
            if(!item.student_list.length){
                $('#exercise-table-'+item.exercise_id).addClass('hidden');
                $('#exercise-table-'+item.exercise_id).next('.empty-string').removeClass('hidden');
            }else{
                $('#exercise-table-'+item.exercise_id).removeClass('hidden');
            $('#exercise-table-'+item.exercise_id).next('.empty-string').addClass('hidden');    
            }
            item.student_list.forEach(function(student){
                content+='<tr>';
                content+='<td>'+student.student+'</td>';
                content+='<td>'+student.result+'</td>';
                content+='<td>'+student.date+'</td>';
                content+='  <td align="center"> \
                            <button class="student-rem btn btn-xs btn-danger" \
                            data-toggle="tooltip" data-placement="top" \
                            title="Remove from exercise" exercise-id='+item.exercise_id+' student-id='+student.student_id+'> \
                            <span class="glyphicon glyphicon-remove"></span></button> '
                if (student.result_id !='false'){
                    content+='<a href="'+href+'?result_id='+student.result_id+'"}} \
                            class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" \
                            title="Show details"> \
                            <span class="glyphicon glyphicon-search"></span></a> \
                            </td> '
                }
                            
                content+='</tr>';
            })
            ex_table.html(content)
        })
    }


    $('body').on('click','.student-rem', function(e) {
        var ex_id = $(this).attr('exercise-id');
        var student_id = $(this).attr('student-id');

        $.ajax({
            url : "/assignment-list-staff/", // the endpoint
            type : "POST", // http method
            data : { 
                action:'remove',
                ex_id : ex_id,
                student_id: student_id,
            }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                // console.log(json); // log the returned json to the console
                // console.log("success"); // another sanity check
                update_exercise(json.exercise_list)
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log('NO WAY')
                // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

    })

    $('#student-add').on('click', function(e) {
        e.preventDefault(); 
        var ex_id = $('#students-selector').prop('exercise-id');
        var students_id = [];
        $("#students-selector li.active").each(function(idx, li) {
          students_id.push($(li).find('.hidden').text());
        });
        // console.log(JSON.stringify(students_id));
        // console.log(ex_id);

        $.ajax({
            url : "/assignment-list-staff/", // the endpoint
            type : "POST", // http method
            data : { 
                action:'add',
                ex_id : ex_id,
                students_id: JSON.stringify(students_id),
            }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                // console.log(json); // log the returned json to the console
                // console.log("success"); // another sanity check
                update_exercise(json.exercise_list)

            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log('NO WAY')
                // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

        $('#slider-panel').slideReveal("hide");
    });



</script>    


{% endblock scripts %}